<!doctype html>
<html lang="en">
<head>

<link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/99008ce47c.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="#">
  <link rel="icon" href="/images/myTrip.png" type="image/icon type">
  <title>myTrip</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="sticky">
  <a href="/">
    <img src="/images/myTrip.png" alt="" class="logo-header"> 
  </a>
    <% if signed_in? %>
        <!--<h3><%= current_user()['username']%></h3>
        <form action="/sessions" method="POST">
            <input type="hidden" name='_method' value="delete">
            <button>Logout</button>
        </form> -->

        
        <div class="dropdown">
      
          <button class="dropbtn"> <strong><%= current_user()['username'].upcase%><strong></button>
          <div class="dropdown-content">
            <form action="/trips/new" method="get">
              <input type="submit" value="Add new trip" />
            </form>
            <form action="/trips" method="get">
              <input type="submit" value="My trips" />
            </form>
            <form action="/sessions" method="POST">
              <input type="hidden" name='_method' value="delete"> 
              <input type="submit" value="Sign out">
            </form>
          </div>
        </div>
    <% else %>
      <div class="dropdown">
        <button class="dropbtn"> <a href="/sign-in">Sign in</a> </button>
      </div>
    <% end %>
  </header>
  <%= yield %>

</body>
</html>
