 * {
  box-sizing:border-box;
} 
body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  
}

.main_page{
  background-image: url("https://images.unsplash.com/photo-1603729287771-e03b8ac6ebf5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3271&q=80");
  /* background-color: #4CAF50; */
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.main_page .sentece_1{
  padding-top: 30vh;
  margin: 0;
}

.main_page .brand{
  font-family: 'Lobster', cursive;
  font-size: 13vh;
  margin: 0;
}


.main_page h3{
  font-family: 'Lato', sans-serif;
  color: rgb(39, 39, 48);
}



/****** Header - account logged in ******/
/* Style The Dropdown Button */
img.logo-header{
  /* width: 100px; */
  height: 50px;
  z-index: 1;
  position: absolute;
  left: 0;
}

header{
  background-color: rgba(97, 158, 163,0.8); /*a2c1bd*/
  /* position: fixed; */
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
.sticky {
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.dropbtn {
  background-color: rgba(97, 158, 163,0);
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
  padding-right: 2rem;
  padding-left: 2rem;
}
.dropbtn a{
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content form input {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 0;
  border: none;
  background-color: #f9f9f9;
}

/* Change color of dropdown links on hover */
.dropdown-content input:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn a {
  /* background-color: #619ea3; */
  color:#084a5e;
  /* background-color: #ddd;  */
}



.dropdown form{
  padding:0;
  margin: 0;
  /* max-width: 100%;
  background-color: #f9f9f9;
  min-width: 160px; */
}

/****** End Header - account logged in ******/

.outer-box{
  max-width: 1000px;
  min-height: 100vh;
  
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}