

.trip_header {
  height: 250px;
  /* border-bottom: rgba(117,139,172,0.5) solid; */
  
  /* padding-top: 20px; */
  margin-bottom: 2rem;
  position: relative;
}
.trip_header h1{
  font-family: 'Lobster', cursive;
  color: #084a5e;
  font-size: 4rem;
  text-align: center;
  padding-top: 50px;
  margin-top: 0;
}
.trip_header h3{
  
  /* font-size: 3.5rem; */
  text-align: center;
  /* padding-top: 50px;
  margin-top: 0; */
}

.trip-img-background{
  position:absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.3; 
  filter: blur(5px);
  object-fit: cover;
  object-position: center;
  
 
}


.places ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.marked{
  width: 250px;
  height: 470px;
  background-color: rgba(250, 250, 250, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  color: gray;
  text-align: center;
  font-size: 2rem;
  padding-top: 200px;
}

.hidden{
  display: none;
}

/* li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
} */

/* li a:hover {
  background-color: #111111;
} */
.place img{
  height: 300px;
  width: 250px;
  object-fit: cover;
}

.place {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  margin: 1rem;
  text-align: center;
  position: relative;
}

.place .info{
  margin: 0;
  height: 135px;
}
.place .title {
  /* color: grey; */
  padding: 2px;
  font-size: 100%;
  
}

.place button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


.place a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.place button:hover,.place a:hover {
  opacity: 0.7;
}


.options{
  position: relative; 
  /* display: inline-block; */
  /* float: right; */
}
.options button.options_button{
  /* position: absolute;  */
  
  /* right: 0px;  */
  background: none;
  color: black;
  position: absolute;
  width: fit-content;
  right: 0px;
}

.actions {
  display: none;
  position: absolute;
  /* background-color: rgba(249, 249, 249,1); */
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 30px;
  right: -80px;
}
.actions form input {
  color: black;
  background-color: rgba(249, 249, 249,0.3);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  border: none;
}
/* Change color of dropdown links on hover */
.actions input:hover {
  background-color: rgba(249, 249, 249,0.7);
  font-weight: 600;
  color: blue;
}

/* Show the dropdown menu on hover */
.options:hover .actions {
  display: block;
}


.places.scroll-down{
  overflow:scroll;
  scroll-behavior: smooth;
  height: 70vh;
}