<h1>Sign in to myTrip</h1>
<form action="/sessions" method="POST">  
  <section class='user_form'>
    
    <label for=""><b>Email address</b></label>
    <br>
    <input type="text" placeholder="Email" name="email" required>
    <br>
    <label for=""><b>Password</b></label>
    <br>
    <input type="password" placeholder="Password" name="password" required>
    <br>
    <button type="submit">Sign in</button>
  </section>
  <section class='Sign_up'>
   <p>Not a member? <a href="/sign-up">Join</a> myTrip.</p> 
  </section>
</form>