<section class="signup_form">
  <h1>Join myTrip</h1>
  <form action="/users" method="post">
    
    <section class='user_form'>
      <label for=""><b>Username</b></label>
      <br>
      <input type="text" placeholder="Username" name="username" required>
      <br>
      <label for=""><b>Email</b></label>
      <br>
      <input type="text" placeholder="Email" name="email" required>
      <br>
      <label for=""><b>Password</b></label>
      <br>
      <input type="password" placeholder="Password" name="password" required>
      <br>
      <button type="submit">Sign Up</button>
    </section>
  </form>
   <p>Already have an account? <a href="/sign-in">Sign in</a></p> 
</section>